html {
  background-color: rgb(30, 41, 59);
}
h1,
h2,
h4,
h5 {
  text-transform: uppercase;
  font-weight: 100;
}
h3 {
  text-transform: inherit;
}
p {
  font-weight: 100;
}

i {
  /* display: flex; */
  /* place-items: center; */
  /* place-content: center; */
  /* width: 50px; */
  /* height: 50px; */
}

button,
a {
  text-transform: uppercase;
  position: relative;
  padding: 4px;
}

li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #e07a5f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.ver,
.hor {
  position: absolute;
  transition: all 0.7s ease;
}

.off {
  position: absolute;
  text-shadow: -20em 0em #81b29a, 20em 0em #f2cc8f;
  filter: blur(4px);
  opacity: 25%;
  transition: all 0.7s ease;
}

.ver:hover {
  color: #e07a5f;
  transform: scale(1.1);
  text-shadow: 0em -10em #81b29a, 0em 10em #f2cc8f;
}

.hor:hover {
  color: #e07a5f;
  transform: scale(1.1);
  text-shadow: -20em 0em #81b29a, 20em 0em #f2cc8f;
}

.hor-active {
  transition: all 0.7s ease;
  transform: scale(0.9);
}

.project-gre,
.project-yel {
  transform: scale(0.9);
  transition: all 0.7s ease;
}

.project-gre:hover {
  box-shadow: 0 10px 15px -3px #81b29a80;
  background-color: #81b29a10;
  transform: scale(0.95);
  transition: all 0.7s ease;
}
.project-yel:hover {
  box-shadow: 0 10px 15px -3px #f2cc8f80;
  background-color: #f2cc8f10;
  transform: scale(1);
  transition: all 0.7s ease;
}

.ab {
  transition: all 0.3s linear;
}

.ab:hover {
  box-shadow: 0 10px 15px -3px #81b29a80;
  transform: scale(0.95);
  transition: all 0.3s linear;
}

span {
  color: #81b29a;
}
